$color-turquoise: #4dd5bc;
$color-teal: #286f62;
$color-mintcream: #e8f3f0;
$color-whitesmoke: #f6f6f6;

$bg-color: #2a2a2a;
$blue-player: #29b6f6;
$orange-player: #ff9800;
$pink-border: #e91e63;
$text-white: #ffffff;

$font-primary: "Red Rose", serif;
$font-primary: "aAlmarai", serif;
